# Project
Testing/
*.html
*.htm


# ============ #
# Python #
# ============ #
*.pyc
dist/
doc/
*.egg-info/
MANIFEST

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sublime-workspace
